In [54]:

# used libraries 
import pandas as pd
import datetime
from sklearn.feature_selection import VarianceThreshold

In [55]:
# Retrieve raw data and Clear

# Complete data with stats complete of football players
df1 = pd.read_csv('data_player/FootballPlayerStats_COMPLETE_202223.csv', sep=';')
df1 = df1[df1['Rk'] != 'Rk']
df1.drop('Matches', axis=1, inplace=True)

df2 = pd.read_csv('data_player/FootballPlayerStats_DF_202223.csv', sep=';')
df2 = df2[df2['Rk'] != 'Rk']
df2.drop('Matches', axis=1, inplace=True)

df3 = pd.read_csv('data_player/FootballPlayerStats_FW_202223.csv', sep=';')
df3 = df3[df3['Rk'] != 'Rk']
df3.drop('Matches', axis=1, inplace=True)

df4 = pd.read_csv('data_player/FootballPlayerStats_GK_202223.csv', sep=';')
df4 = df4[df4['Rk'] != 'Rk']
df4.drop('Matches', axis=1, inplace=True)

df5 = pd.read_csv('data_player/FootballPlayerStats_MF_202223.csv', sep=';')
df5 = df5[df5['Rk'] != 'Rk']
df5.drop('Matches', axis=1, inplace=True)

df6 = pd.read_csv('data_player/FootballPlayerStats_MISC_202223.csv', sep=';')
df6 = df6[df6['Rk'] != 'Rk']
df6.drop('Matches', axis=1, inplace=True)

df7 = pd.read_csv('data_player/FootballPlayerStats_PASS_202223.csv', sep=';')
df7 = df7[df7['Rk'] != 'Rk']
df7.drop('Matches', axis=1, inplace=True)

In [56]:
# delete potentially duplicate columns

df6.drop(['Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', '90s','Performance CrdY', 'Performance CrdR', 'Performance TklW',
       'Performance PKwon', 'Performance PKcon'],axis=1,inplace=True)
df6.columns

df7.drop(['Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', '90s','Short Cmp', 'Short Att', 'Short Cmp%', 'Medium Cmp',
       'Medium Att', 'Medium Cmp%', 'Long Cmp', 'Long Att', 'Long Cmp%', ],axis=1,inplace=True)
df7.columns

Index(['Rk', 'Player', 'Total Cmp', 'Total Att', 'Total Cmp%', 'Total TotDist',
       'Total PrgDist', 'Ast', 'xAG', 'xA', 'A-xAG', 'KP', '1/3', 'PPA',
       'CrsPA', 'PrgP'],
      dtype='object')

In [57]:
# Merge the renamed dataframes using the 'Player' column as the merge key
combined_df = pd.merge(df2, df3, left_on='Rk', right_on='Rk', how='outer')
combined_df = pd.merge(combined_df, df5, left_on='Rk', right_on='Rk', how='outer')

In [58]:
combined_df

,Rk,Player_x,Nation_x,Pos_x,Squad_x,Comp_x,Age_x,Born_x,90s_x,Tackles Tkl,...,SCA Types Fld,SCA Types Def,GCA GCA,GCA GCA90,GCA Types PassLive,GCA Types PassDead,GCA Types TO,GCA Types Sh,GCA Types Fld,GCA Types Def
0,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,21,2000,26.4,45,...,8,1,7,0.27,3,1,0,1,1,1
1,10,Matthis Abline,fr FRA,"FW,MF",Auxerre,fr Ligue 1,19,2003,9.0,4,...,2,0,3,0.33,1,0,1,0,1,0
2,100,Samuel Amo-Ameyaw,eng ENG,MF,Southampton,eng Premier League,16,2006,0.0,0,...,0,0,0,0.00,0,0,0,0,0,0
3,1000,Paulo Gazzaniga,ar ARG,GK,Girona,es La Liga,30,1992,28.0,0,...,0,0,0,0.00,0,0,0,0,0,0
4,1001,David de Gea,es ESP,GK,Manchester Utd,eng Premier League,31,1990,38.0,0,...,0,0,0,0.00,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2884,995,Aleix Garrido,es ESP,FW,Barcelona,es La Liga,18,2004,0.1,2,...,0,0,0,0.00,0,0,0,0,0,0
2885,996,Sékou Gassama,sn SEN,FW,Valladolid,es La Liga,27,1995,0.4,0,...,0,0,0,0.00,0,0,0,0,0,0
2886,997,Johan Gastien,fr FRA,MF,Clermont Foot,fr Ligue 1,34,1988,28.9,62,...,1,1,9,0.31,5,4,0,0,0,0
2887,998,Federico Gatti,it ITA,DF,Juventus,it Serie A,24,1998,16.1,15,...,1,0,0,0.00,0,0,0,0,0,0
2888,999,Gavi,es ESP,"MF,FW",Barcelona,es La Liga,17,2004,28.1,47,...,3,3,7,0.25,6,0,1,0,0,0

In [60]:
combined_df = pd.merge(combined_df, df6, left_on='Rk', right_on='Rk', how='outer', suffixes=('_left', '_right'))

In [61]:
combined_df = pd.merge(combined_df, df7, left_on='Rk', right_on='Rk', how='outer')

In [63]:
# Rename
column_mapping = {
    'Rk_x': 'Rk',
    'Player_x': 'Player',
    'Nation_x': 'Nation',
    'Pos_x': 'Pos',
    'Squad_x': 'Squad',
    'Comp_x': 'Comp',
    'Age_x': 'Age',
    'Born_x': 'Born',
    '90s_x': '90s'
}

# Rename the columns using the dictionary
combined_df = combined_df.rename(columns=column_mapping)

# Delete column respect to Player and Squad_x
combined_df = combined_df.drop_duplicates(subset=['Player','Squad'])

# Delete column specified
# columns_to_drop = ['Player_y','Nation_y', 'Pos_y', 'Squad_y', 'Comp_y', 'Age_y', 'Born_y', '90s_y', 'Ast', 'xAG']
# combined_df = combined_df.drop(columns=columns_to_drop)

# Fill NaN with 0
combined_df = combined_df.fillna(0)

# Select only unduplicated columns
combined_df = combined_df.loc[:, ~combined_df.columns.duplicated()]

In [64]:

# Merge dataset with Golkeeping 
combined_df = pd.merge(combined_df, df4, left_on='Player', right_on='Player', how='outer')

In [65]:
# Select only unduplicated columns
combined_df = combined_df.loc[:, ~combined_df.columns.duplicated()]
#len(combined_df.columns)

In [66]:
combined_df

,Rk_x,Player,Nation_x,Pos_x,Squad_x,Comp_x,Age_x,Born_x,90s_x,Tackles Tkl,...,Performance W,Performance D,Performance L,Performance CS,Performance CS%,Penalty Kicks PKatt,Penalty Kicks PKA,Penalty Kicks PKsv,Penalty Kicks PKm,Penalty Kicks Save%
0,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,612,Aaron Cresswell,eng ENG,DF,West Ham,eng Premier League,32,1989,24.8,21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1193,Aaron Hickey,sct SCO,DF,Brentford,eng Premier League,20,2002,21.3,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2191,Aaron Ramsdale,eng ENG,GK,Arsenal,eng Premier League,24,1998,38.0,1,...,26,6,6,14,36.8,5,3,0,2,0.0
4,2192,Aaron Ramsey,wls WAL,MF,Nice,fr Ligue 1,31,1990,17.6,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2897,1117,İlkay Gündoğan,de GER,MF,Manchester City,eng Premier League,31,1990,26.1,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2898,868,Łukasz Fabiański,pl POL,GK,West Ham,eng Premier League,37,1985,34.6,2,...,11,6,19,8,22.2,4,2,1,1,33.3
2899,2144,Łukasz Poręba,pl POL,MF,Lens,fr Ligue 1,22,2000,2.9,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2900,2469,Łukasz Skorupski,pl POL,GK,Bologna,it Serie A,31,1991,37.0,2,...,13,12,12,7,18.9,9,7,2,0,22.2
2901,2180,Ștefan Radu,ro ROU,FW,Lazio,it Serie A,35,1986,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
# Rename
column_mapping = {
    'Rk_x': 'Rk',
    'Player_x': 'Player',
    'Nation_x': 'Nation',
    'Pos_x': 'Pos',
    'Squad_x': 'Squad',
    'Comp_x': 'Comp',
    'Age_x': 'Age',
    'Born_x': 'Born',
    '90s_x': '90s'
}

# Rename the columns using the dictionary
combined_df = combined_df.rename(columns=column_mapping)

# Delete column respect to Player and Squad_x
combined_df = combined_df.drop_duplicates(subset=['Player','Squad'])

# Delete column specified
columns_to_drop = ['Nation_y', 'Pos_y', 'Squad_y', 'Comp_y', 'Age_y', 'Born_y', '90s_y']
combined_df = combined_df.drop(columns=columns_to_drop)

# Fill NaN with 0
combined_df = combined_df.fillna(0)

In [68]:
combined_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Tackles Tkl,...,Performance W,Performance D,Performance L,Performance CS,Performance CS%,Penalty Kicks PKatt,Penalty Kicks PKA,Penalty Kicks PKsv,Penalty Kicks PKm,Penalty Kicks Save%
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,612,Aaron Cresswell,eng ENG,DF,West Ham,eng Premier League,32,1989,24.8,21,...,0,0,0,0,0,0,0,0,0,0
2,1193,Aaron Hickey,sct SCO,DF,Brentford,eng Premier League,20,2002,21.3,38,...,0,0,0,0,0,0,0,0,0,0
3,2191,Aaron Ramsdale,eng ENG,GK,Arsenal,eng Premier League,24,1998,38.0,1,...,26,6,6,14,36.8,5,3,0,2,0.0
4,2192,Aaron Ramsey,wls WAL,MF,Nice,fr Ligue 1,31,1990,17.6,47,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2897,1117,İlkay Gündoğan,de GER,MF,Manchester City,eng Premier League,31,1990,26.1,30,...,0,0,0,0,0,0,0,0,0,0
2898,868,Łukasz Fabiański,pl POL,GK,West Ham,eng Premier League,37,1985,34.6,2,...,11,6,19,8,22.2,4,2,1,1,33.3
2899,2144,Łukasz Poręba,pl POL,MF,Lens,fr Ligue 1,22,2000,2.9,5,...,0,0,0,0,0,0,0,0,0,0
2900,2469,Łukasz Skorupski,pl POL,GK,Bologna,it Serie A,31,1991,37.0,2,...,13,12,12,7,18.9,9,7,2,0,22.2
2901,2180,Ștefan Radu,ro ROU,FW,Lazio,it Serie A,35,1986,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
# Merge dataset with Standard Data Players
merged_df = pd.merge(combined_df, df1, left_on='Rk', right_on='Rk', how='outer')
merged_df = merged_df.fillna(0)

In [70]:

# Fill in the missing values in the following columns with '0'.
merged_df['Playing Time Min_x'] = merged_df['Playing Time Min_x'].fillna('0')
merged_df['Playing Time Min_y'] = merged_df['Playing Time Min_y'].fillna('0')

# Removing commas (,) from columns
merged_df['Playing Time Min_x'] = merged_df['Playing Time Min_x'].str.replace(',', '')
merged_df['Playing Time Min_y'] = merged_df['Playing Time Min_y'].str.replace(',', '')

# Convert columns to integer (int) data type
merged_df['Playing Time Min_x'] = merged_df['Playing Time Min_x'].astype(int)
merged_df['Playing Time Min_y'] = merged_df['Playing Time Min_y'].astype(int)

ValueError: cannot convert float NaN to integer